<%- include('../inc/top') %>
<div class="row">
    <h2>Thêm sản phẩm V2 </h2>

    <%= msg  %>


    <form action="" method="post" >

        <select name="theloai" >
            <% listTheloai.forEach( (objTL)=>{ %>
                
                <option value="<%= objTL._id %>"> <%= objTL.name %>  </option>

            <%   } ) %>
        </select>


         
        <input type="text" name="name" placeholder="Tên SP" />
        <input type="number" name="price" placeholder="Giá" />

        <button type="submit"> Save </button>
    </form> 

    
</div>
<%- include('../inc/bottom') %>