<%- include('../inc/top') %>

<div class="row">
    <h2>Danh sách sản phẩm</h2>

    <table class="table table-bordered table-striped">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Price</th>
            <th>Desc</th>
            <th>Thẻ loại</th>
        </tr>
        <% listSp.forEach(  ( row ) => {   %>
            <tr>
                <td> 
                    <a href="/sp/edit/<%= row._id %>">  <%= row._id %>    </a>
                   
                 
                </td>

                <td>  <%= row.name %> </td>
                <td>  <%= row.price %></td>
                <td> <%= row.description %></td>
                <td> <%= row.id_theloai.name %> </td>
            </tr> 
         <%   });     %>
    </table>

 



</div>
<%- include('../inc/bottom') %>